body {
    background-color: #ccc;
    background-repeat: no-repeat;
    background-size: cover;
}

.clear {
    clear: both;
}

.float {
    float: left;
}

#dvTudo {
    width: 80%;
    height: 660px;
    margin: 0 auto;
    border-radius: 20px;
}

h1,
p {
    text-align: center;
}

div,
form {
    border: solid;
    margin: 10px 5px;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 10px;
}

button {
    width: 70px;
    margin: 5px 0;
    border-radius: 5px;
}