body {
    background-color: #ccc;
}

.clear {
    clear: both;
}

.float {
    float: left;
}

#dvTudo {
    width: 80%;
    height: 660px;
    background-color: #fff;
    margin: 0 auto;
}

h1,
p {
    text-align: center;
}

div,
form {
    border: solid;
    margin: 10px 5px;
    padding: 5px 10px;
    background-color: #cf9;
}

button {
    width: 70px;
    margin: 5px 0;
}